{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>About BUbot</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <link
            rel="icon"
            type="image/x-icon"
            href="{% static 'assets/BUbot-logo.png' %}"
        />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
            rel="stylesheet"
        />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <link
            href="{% static 'css/styles.css' %}"
            rel="stylesheet"
            type="text/css"
        />
    </head>
    <body class="">
        <!-- nav -->
        <nav class="nav py-2 px-3 position-relative">
            <div class="d-flex align-items-center py-1">
                <a class="button-white px-1" href="{% url 'index' %}">
                    <span class="material-icons-sharp"> arrow_back </span>
                </a>
                <div class="pl-1">
                    <strong style="color: #fff">Categories</strong>
                </div>
                <a
                    class="button-white position-absolute top-2 end-0 px-4"
                    href="{% url 'about' %}"
                >
                    <span class="material-icons-sharp"> info </span>
                </a>
            </div>
        </nav>
        <!-- paragraph -->
        <div>
            <div class="container px-4 p-2 text-center mb-3 mt-3">
                <h3 class="" style="color: black">
                    CATEGORIES OF TOPICS THAT BUBOT CAN ANSWER
                </h3>
            </div>
            <div
                class="container mx-auto px-4 p-2 text-center mb-4"
                style="background-color: #f37124"
            >
                <h4 class="" style="color: #fff">GREETING</h4>
            </div>
            <div
                class="container mx-auto px-4 p-2 text-center mb-4"
                style="background-color: #3db2ff"
            >
                <h4 class="" style="color: #fff">ABOUT BUBOT</h4>
            </div>
            <div
                class="container mx-auto px-4 p-2 text-center mb-2"
                style="background-color: #f37124"
            >
                <h4 class="" style="color: #fff">ABOUT BICOL UNIVERSITY</h4>
            </div>
            <div class="container px-4 p-2 text-center mb-4">
                <h4 class="" style="color: black">Brief History</h4>
                <h4 class="" style="color: black">Mission</h4>
                <h4 class="" style="color: black">Vision</h4>
                <h4 class="" style="color: black">Goals</h4>
                <h4 class="" style="color: black">Quality Policy</h4>
                <h4 class="" style="color: black">Board of Regent</h4>
                <h4 class="" style="color: black">BU-ICTO</h4>
                <h4 class="" style="color: black">BU-URO</h4>
            </div>
            <div
                class="container mx-auto px-4 p-2 text-center mb-4"
                style="background-color: #3db2ff"
            >
                <h4 class="" style="color: #fff">COLLEGES</h4>
            </div>
            <div class="container px-4 p-2 text-center mb-4">
                <h4 class="" style="color: black">Dean of the Colleges</h4>
                <h4 class="" style="color: black">Deans' Contact Details</h4>
                <h4 class="" style="color: black">College Registrars</h4>
                <h4 class="" style="color: black">
                    Registrars' Offices Contact Details
                </h4>
            </div>
            <div
                class="container mx-auto px-4 p-2 text-center"
                style="background-color: #f37124"
            >
                <h4 class="" style="color: #fff">ADMISSION</h4>
            </div>
            <div class="container px-4 p-2 text-center">
                <h4 class="" style="color: black">Requirements and Schedule</h4>
                <h4 class="" style="color: black">BUCET</h4>
                <h4 class="" style="color: black">BUCESS</h4>
                <h4 class="" style="color: black">Transferring</h4>
                <h4 class="" style="color: black">Shifting</h4>
                <h4 class="" style="color: black">Opening Recovery Courses</h4>
                <h4 class="" style="color: black">
                    Returning old students or from LOA
                </h4>
                <h4 class="" style="color: black">Foreign Students</h4>
                <h4 class="" style="color: black">Residency</h4>
                <h4 class="" style="color: black">TOR</h4>
                <h4 class="" style="color: black">Diploma</h4>
            </div>
            <div
                class="container mx-auto px-4 p-2 text-center mb-4"
                style="background-color: #3db2ff"
            >
                <h4 class="" style="color: #fff">STUDENT ASSESSMENT</h4>
            </div>
            <div class="container px-4 p-2 text-center mb-4">
                <h4 class="" style="color: black">Examinations</h4>
                <h4 class="" style="color: black">Grading System</h4>
                <h4 class="" style="color: black">Equivalent of Grades</h4>
                <h4 class="" style="color: black">Honors</h4>
                <h4 class="" style="color: black">Recognition and Awards</h4>
            </div>
            <div
                class="container mx-auto px-4 p-2 text-center"
                style="background-color: #f37124"
            >
                <h4 class="" style="color: #fff">ABOUT STUDENTS</h4>
            </div>
            <div class="container px-4 p-2 text-center">
                <h4 class="" style="color: black">Uniform</h4>
                <h4 class="" style="color: black">Credit Load</h4>
                <h4 class="" style="color: black">Academic Load</h4>
                <h4 class="" style="color: black">
                    Classifications of Students
                </h4>
                <h4 class="" style="color: black">Scholarship opportunities</h4>
                <h4 class="" style="color: black">University Organizations</h4>
                <h4 class="" style="color: black">USC</h4>
            </div>
            <div
                class="container mx-auto px-4 p-2 text-center mb-4"
                style="background-color: #3db2ff"
            >
                <h4 class="" style="color: #fff">LIBRARY</h4>
            </div>
            <div class="container px-4 p-2 text-center mb-4">
                <h4 class="" style="color: black">Libraries in BU</h4>
                <h4 class="" style="color: black">
                    Library Hours including libraries in other campuses
                </h4>
                <h4 class="" style="color: black">Library Card</h4>
                <h4 class="" style="color: black">
                    Borrowing rules and procedures
                </h4>
            </div>
            <div
                class="container mx-auto px-4 p-2 text-center"
                style="background-color: #f37124"
            >
                <h4 class="" style="color: #fff">MEDICAL AND DENTAL</h4>
            </div>
            <div class="container px-4 p-2 text-center">
                <h4 class="" style="color: black">Clinic location</h4>
                <h4 class="" style="color: black">Services Offered</h4>
            </div>
            <div
                class="container mx-auto px-4 p-2 text-center mb-4"
                style="background-color: #3db2ff"
            >
                <h4 class="" style="color: #fff">
                    RULES AND REGULATIONS ON STUDENT CONDUCT AND DISCIPLINE
                </h4>
            </div>
            <div class="container px-4 p-2 text-center mb-4">
                <h3 class="" style="color: black">Major and Minor Offenses</h3>
                <h4 class="" style="color: black">Bullying</h4>
                <h4 class="" style="color: black">
                    Carrying of firearms and other Dangerous Weapons
                </h4>
                <h4 class="" style="color: black">
                    Creating Disorder or Disturbance within the University
                </h4>
                <h4 class="" style="color: black">
                    Destruction of Any Property of the University
                </h4>
                <h4 class="" style="color: black">Its Guests</h4>
                <h4 class="" style="color: black">Employees or Students</h4>
                <h4 class="" style="color: black">Discourtesy to Superior</h4>
                <h4 class="" style="color: black">
                    Disgraceful and immoral conduct
                </h4>
                <h4 class="" style="color: black">
                    Disobedience to lawful orders of University Officials
                </h4>
                <h4 class="" style="color: black">Dishonesty</h4>
                <h4 class="" style="color: black">
                    Drinking of Alcoholic Beverages or Manifesting Drunken
                </h4>
                <h4 class="" style="color: black">
                    Behavior within the university premises
                </h4>
                <h4 class="" style="color: black">
                    Falsification of Official Document
                </h4>
                <h4 class="" style="color: black">Gambling</h4>
                <h4 class="" style="color: black">Hazing</h4>
                <h4 class="" style="color: black">
                    Malversation or Unlawful Disbursement of school funds
                </h4>
                <h4 class="" style="color: black">Photo or Video Voyeurism</h4>
                <h4 class="" style="color: black">Plagiarism</h4>
                <h4 class="" style="color: black">
                    Possession of prohibited drugs or chemicals
                </h4>
                <h4 class="" style="color: black">Sexual Harassment</h4>
                <h4 class="" style="color: black">Stalking</h4>
                <h4 class="" style="color: black">Theft of propert</h4>
            </div>
        </div>
    </body>
</html>
