{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-------------------------------------------------------------------------------------------------------------->

    <head>
        <meta charset="utf-8" />
        <title>BUbot</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link
            rel="icon"
            type="image/x-icon"
            href="{% static 'assets/BUbot-logo.png' %}"
        />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
            rel="stylesheet"
        />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <link
            href="{% static 'css/styles.css' %}"
            rel="stylesheet"
            type="text/css"
        />
    </head>

    <body>
<!-------------------------------------------------------------------------------------------------------------->

        <!-- nav -->
        <nav class="nav py-2 px-3 position-relative">
            <div class="d-flex align-items-center py-1">
                <a class="button-white px-1" href="{% url 'index' %}">
                    <span class="material-icons-sharp"> arrow_back </span>
                </a>
                <img
                    src="{% static 'assets/BUbot-logo.png' %}"
                    class="rounded-circle mr-2"
                    alt="BUbot"
                    width="40"
                    height="40"
                />
                <div class="pl-1">
                    <strong style="color: #fff">BUbot</strong>
                </div>
                <a
                    class="button-white position-absolute top-2 end-0 px-4"
                    href="{% url 'about' %}"
                >
                    <span class="material-icons-sharp"> info </span>
                </a>
            </div>
        </nav>
<!-------------------------------------------------------------------------------------------------------------->
        <!-- chat section -->
        <div class="position-relative">
            <div
                class="chat-messages parentChat"
                id="parentChat"
                name="parentChat">

                <!-- bubot default reply -->
                <div class="chat-message-left pb-2 mt-4" id="bubot">
                    <div class="text-left ml-3 mr-3">
                        <img
                            src="{% static 'assets/BUbot-logo.png' %}"
                            class="rounded-circle mr-1"
                            alt="BUbot"
                            width="40"
                            height="40"
                        />
                        <div class="text-muted small text-nowrap mt-2" id="default">
                            
                        </div>
                    </div>
                    <div
                        class="flex-shrink-1 py-2 px-3 mr-5 mr-sm-5 ml-3 mb-4"
                        style="
                            background: rgb(61, 178, 255);
                            border-radius: 25px;
                        "
                    >
                        Hi! How can I help you?
                    </div>
                </div>
            </div><!-----------------First line-->

        <!-- user asking query -->
        <div class="py-3 px-4 input-group fixed-bottom">
            <div class="input-group">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Type here..."
                    id="userQuestion"
                    name="userQuestion"
                    form="sendQuery"
                    required="required"
                />
                <form method="POST" id="sendQuery" name="sendQuery">
                    {% csrf_token %}
                    <button
                        class="button-send"
                        id="sendBtn"
                        name="sendBtn"
                        type="submit"
                    >
                        <span class="material-icons-sharp"> send </span>
                    </button>
                </form>
            </div>
        </div><!-- end of user asking query -->

<!----------------------------------------------------------------------------------------------------------->

        <!-- script starts -->
        <script type="text/javascript">

            const time = new Date().toLocaleString([], { hour: 'numeric', minute: 'numeric' });

            function getuserQuestion() {
                return document.getElementById("userQuestion").value;
            }

            document.getElementById("default").innerHTML = time;

            
            var botResponse = document.getElementById("bubotDiv");

            $(document).ready(function () {
                // $('#userQuestion').on('keyup', function(){
                //     let empty = false;

                //     $('#userQuestion').each(function(){
                //         empty = $(this).val().trim().length == 0;
                //     });

                //     if (empty){
                //         $('#sendBtn').attr('disabled', 'disabled');
                //     } else {
                //         $('#sendBtn').attr('disabled', false);
                //     }
                // })
            
                $("#sendQuery").submit(function (event) {
                    event.preventDefault();  
                    $.ajax({
                        url: "/chat/",
                        type: "POST",
                        data:{
                            userInput: $("#userQuestion").val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (response) {
                            var userQuestion = getuserQuestion();

                            var outgoing = "<div class=\"chat-message-right pb-4\"> <div class=\"text-right mr-3 ml-3\">" + 
                                            "<img src=\"{% static 'assets/user.png' %}\" class=\"rounded-circle mr-1\" "+
                                            " alt=\"user\" width=\"40\" height=\"40\" /> <div class=\"text-muted small text-nowrap mt-2\">" 
                                            + time + "</div></div><div class=\"py-2 px-3 mr-2 ml-5 ml-sm-5 mb-4 mt-2\" style=\" "+
                                            " background: rgb(243, 113, 36); border-radius: 25px;\">" + userQuestion + "</div></div>"
                            
                            $(".parentChat").append(
                                outgoing
                            ); 
                            
                            var incoming = "<div class=\"bubotReply chat-message-left pb-4\"> <div class= \"text-left ml-3 mr-3\">"+
                                            "<img src=\"{% static 'assets/BUbot-logo.png' %}\" class=\"rounded-circle mr-1\" "+
                                            "alt=\"BUbot\" width=\"40\" height=\"40\" /> <div class=\"text-muted small text-nowrap mt-2\">"
                                            + time + "</div> </div><div class=\"bubotDiv py-2 px-3 mr-5 mr-sm-5 ml-3 mb-4\" "+
                                            "id=\"bubotDiv\" name=\"bubotDiv\" "+ "style=\"background: rgb(61, 178, 255);border-radius: 25px;\">"
                                            + response + "</div></div>"

                            $(".parentChat").append(
                                incoming
                            ); 

                            document.getElementById("parentChat").scrollIntoView({behavior:'smooth', block:'end'});

                            document.getElementById("userQuestion").value = "";
                        },
                        error: function (response) {
                            console.log(response);
                        }
                    }); // end ajax
                });
            });
        </script>
    </body>
</html>